.mainContainer {
    width: 800px;
    margin: auto auto;
    margin-top: 70px;
}
h1 {
    margin-left: 200px;
    font-family: cursive;
    color: green;
    font-size: 50px;
}
.subContainer {
    box-shadow: 5px 5px 10px rgb(65, 65, 65);
    height: 500px;
    background-color: rgba(124, 200, 0, 0.678);
}
.q {
    font-size: 30px;
    margin-left: 30px;
    font-family: cursive;
    /* margin-top: 30px; */
    position: relative;
    top: 50px;
}
.o button {
    font-family: cursive;
    font-weight: bolder;
    font-size: 16px;
    color: rgb(0, 117, 0);
    margin-left: 30px;
    margin-top: 60px;
    position: relative;
    /* top: 100px; */
}