.mainContainer {
    width: 800px;
    margin: auto auto;
    margin-top: 50px;
}
h1 {
    margin-left: 200px;
    font-family: cursive;
    color: green;
    font-size: 50px;
}
.subContainer {
    box-shadow: 5px 5px 10px rgb(65, 65, 65);
    height: 400px;
    background-color: rgba(124, 200, 0, 0.678);
    padding: 40px;
}
.q {
    font-size: 35px;
    margin-left: 30px;
    font-family: cursive;
    /* margin-top: 30px; */
    position: relative;
    top: 80px;
}
.o button {
    font-family: cursive;
    font-weight: bolder;
    font-size: 16px;
    color: rgb(0, 117, 0);
    margin-left: 40px;
    margin-top: 140px;
    position: relative;
    /* top: 100px; */
}
h2 {
    font-size: 50px;
   position: relative;
   top: 80px;
   left: 240px;
    font-family: cursive;
}
#result {
    font-family: cursive;
    font-weight: 900;
    font-size: 29px;
    padding: 10px;
    border-radius: 5px 5px;
    color: darkgreen;
    position: relative;
    background-color: rgba(124, 200, 0, 0.678);
    top: 140px;
    left: 340px;
    border-color: rgba(124, 200, 0, 0.678);
}
.res {
    font-size: 27px !important;
    margin-left: -20px;
}
